*{
    margin: 0;
    padding: 0;
}
#position{
    width: 100px;
    height: 40px;
    color: black;
    padding: 5px;
    top: 0;
    left: 0;
}
body{
    background-color: brown;
}
p{
    margin: 0;
    font-family: sans-serif;
}
h2{
    text-align: center;
}