*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#main-container {
  display: flex;
  justify-content: start;     /* Centraliza horizontalmente */
  align-items: flex-start;     /* Alinha os blocos no topo */
  gap: 40px;                   /* Espaço entre base-canvas e animacao */
  padding: 40px;
}
.base-canvas {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.animacao {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#box {
    margin-top: 50px;
    width: 100px;
    height: 100px;
    background-color: yellowgreen;
    transition: transform 0.1s linear;
}
#cir{
    margin-top: 50px;
    border-radius: 150px;
    width: 100px;
    height: 100px;
    background-color: aqua;
    transition: transform 0.1s linear;
}
#tri{
    margin-top: 80px;
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-bottom: 50px solid transparent;
    border-left: 100px solid rgb(255, 0, 0);
    transition: transform 0.1s linear;
}